<span class="cp-article-meta">
  {% assign date = article.created_at | date: '%B %d, %Y' %}
  {{ 'article.meta' | t: author: article.author, date: date }}
  {% for tag in article.tags %}{{ tag | link_to_tag: tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}
</span>