<div class="cp-message cp-message--{{ type | default: 'info' }} {{ class }}">
  
  {% if title != blank %}
    <h2 class="cp-message__title">{{ title }}</h2>
  {% endif %}
  
  {% if body != blank %}
    <div class="cp-message__body">{{ body }}</div>
  {% endif %}
  
</div>
