{% if section.blocks.size > 0 %}
  <div class="layout">

    <!-- @TODO: Title data -->
    <h2>Title</h2>
          
    <div class="cp-card-list cp-card-list--features">
      <!-- @TODO: for block in blocks -->

        <div class="cp-card-list__item">
          <!-- @TODO: pass feature data into card -->
          {% render 'cp-card' %}
        </div>

      <!-- endfor -->
    </div>

  </div>
{% endif %}

<!-- @TODO: Build settings/block data -->
{% schema %}
{
  "name": "Featured",
  "settings": [
    
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        
      ]
    }
  ]
}
{% endschema %}
