{% if section.blocks.size > 0 %}
  <div class="layout">

    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title }}</h2>
    {% endif %}
          
    <div class="cp-card-list cp-card-list--features">
      {% for block in section.blocks %}

        <div class="cp-card-list__item">
          {% render 'cp-card', title: block.settings.title, image: block.settings.image, url: block.settings.url %}
        </div>

      {% endfor %}
    </div>

  </div>
{% endif %}

{% schema %}
{
  "name": "Featured",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features",
      "settings": {
      }
    }
  ]
}
{% endschema %}
