<section id="s-{{ section.id }}" class="section section--featured">
  <div class="cp-features">
    @TODO
  </div>
</section>

{% schema %}
{
  "name": "Featured",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured",
      "settings": {
      }
    }
  ]
}
{% endschema %}
