<div class="layout">

  {% if blog.title != blank %}
    <h1>{{ blog.title }}</h1>
  {% endif %}

  {% if blog.articles.size > 0 %}
    
    {% paginate blog.articles by section.settings.paginate_by %}

      <div class="cp-card-list cp-card-list--blog">
    
        {% for article in blog.articles %}
          
          <div class="cp-card-list__item">
            {% capture meta %}{% render 'cp-article-meta', article: article %}{% endcapture %}
            {% assign summary = article.excerpt | strip_html | truncate: 50 %}
            {% render 'cp-card', title: article.title, meta: meta, image: article.image, summary: summary, url: article.url %}
          </div>

        {% endfor %}

      </div>

      {% render 'cp-pagination', paginate: paginate %}

    {% endpaginate %}

  {% else %}

    <p><em>{{ 'blog.none' | t }}</em></p>

  {% endif %}

</div>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "id": "paginate_by",
      "type": "range",
      "label": "Articles per page",
      "default": 2,
      "min": 2,
      "max": 50
    }
  ]
}
{% endschema %}
