<div class="layout">

  <h1>{{ 'collections_list.title' | t }}</h1>

  {% if collections.size > 0 %}
        
    {% paginate collections by section.settings.paginate_by %}

      <div class="cp-card-list cp-card-list--collections-list">

        {% for collection in collections %}
          
          <div class="cp-card-list__item">
            {% render 'cp-card', title: collection.title, image: collection.image, url: collection.url %}            
          </div>

        {% endfor %}
      
      </div>

      {% render 'cp-pagination', paginate: paginate %}
    
    {% endpaginate %}
  
  {% else %}

    <p><em>{{ 'collections_list.none' | t }}</em></p>

  {% endif %}

</div>

{% schema %}
{
  "name": "List Collections",
  "settings": [
    {
      "id": "paginate_by",
      "type": "range",
      "label": "Collections per page",
      "default": 2,
      "min": 2,
      "max": 50
    }
  ]
}
{% endschema %}
