{% assign header_override = '' %}
{% assign footer_override = '' %}

<section id="s-{{ section.id }}" class="section section--main-password">
  @TODO
</section>

{% schema %}
{
  "name": "Password",
  "settings": [

  ]
}
{% endschema %}
