html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

/* HELPERS */

.accessible-hide {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  scale: 0;
}

.accessible-hide:active,
.accessible-hide:focus-within {
  position: unset;
  opacity: unset;
  pointer-events: unset;
  scale: unset;
}

.hide {
  display: none !important;
}

/* PAGE */

.page__main {
  padding-block: 50px;
}

/* LAYOUT */

.layout {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 20px;
}

.shopify-section {
  padding-block: 30px;
}

/* MEDIA */

img, svg {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

/* TYPE */

:is(h1, h2, h3, h4, h5, h6):first-child { margin-top: 0; }
:is(h1, h2, h3, h4, h5, h6):last-child { margin-bottom: 0; }

/* TABLE */

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

/* LINKS/BUTTONS */

a {
  color: var(--clr-primary);
}

a:hover, a:focus-within { 
  text-decoration: none;
}

.btn {
  display: inline-block;
  background: var(--clr-primary);
  color: var(--clr-primary-contrast);
  padding: 10px 12px;
  border: 0;
  font-weight: bold;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
}

.btn--2 { background: lightgrey; color: black; }
.btn--full { width: 100%; }

.btn[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

/* FORMS */

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input:not([type=checkbox],[type=radio]), select, textarea {
  display: block;
  font-size: inherit;
  width: 100%;
  max-width: 400px;
  border: 1px solid grey;
  padding: 10px;
  font-family: inherit;
}

.field, .selector-wrapper {
  margin-bottom: 10px;
}

/* HEADER */

.cp-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cp-header__logo {
  display: block;
  max-width: var(--logo-width, 140px);
}

.cp-header__nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;  
}

.cp-header__nav__list a.is-active {
  font-weight: bold;
}

.cp-header__nav__item {
  position: relative;
}

.cp-header__nav__sublist {
  display: none;
  position: absolute;
  background: lightgrey;  
  margin: 0;
  padding: 15px;
  list-style: none;
  flex-direction: column;
  gap: 10px;
}

.cp-header__nav__item:hover .cp-header__nav__sublist,
.cp-header__nav__item:focus-within .cp-header__nav__sublist {
  display: flex;
}

/* FOOTER */

.cp-footer__main {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.cp-footer__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.cp-footer__nav a {
  color: var(--clr-primary);
}

.cp-footer__nav a.is-active {
  font-weight: bold;
}

.cp-footer__secondary {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MESSAGE */

.cp-message {
  background: light-grey;
  padding: 20px;
  margin-block: 20px;
}

.cp-message__title {
  margin-block: 0 0.5em;
}

.cp-message--error {
  background: lightpink;
}

.cp-message--success {
  background: lightgreen;
}

.cp-message__body :is(p, ul, li):first-child { margin-top: 0; }
.cp-message__body :is(p, ul, li):last-child { margin-bottom: 0; }

.cp-message__body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FEATURES */

.cp-card-list {
  --min-width: 200px;
  --max-width: 470px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
}

.cp-card-list--blog { --min-width: 350px; }  

.cp-card-list__item {
  background: #ccc;
  padding: 10px;
  max-width: var(--max-width, 'none');  
}

/* CARD */

.cp-card__title {
  margin: 0;
}

.cp-card__title a {
  color: inherit;
  text-decoration: none;
}

.cp-card__meta {
  margin: 5px 0 0;
  font-size: 14px;
  font-style: italic;
}

.cp-card__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-block: 5px;
}

.cp-card__summary {
  margin-bottom: 10px;
}

.cp-card__action {
  margin: 0;
}

/* PAGINATION */

.cp-pagination {
  margin: 30px 0;
}

.cp-pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cp-pagination a {
  text-decoration: none;
}

.cp-pagination a:hover,
.cp-pagination a:focus-visible {
  text-decoration: underline;
}

.cp-pagination a:not([href]) {
  opacity: 0.4;
}

/* PAGE NAV */

.cp-page-nav {
  display: flex;
  gap: 15px;
}

.cp-page-nav p {
  margin: 0;
}

.cp-page-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
}

/* PRODUCT */

.cp-product {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* TAGS */

.cp-tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.cp-tag {
  font-size: 12px;
  display: inline-block;  
  padding: 5px;
  border-radius: 2px;
  background: lightgrey;
}

.cp-tag--label-new { background: orange; }
.cp-tag--discount { background: red; color: white; }

.cp-tag a {
  color: inherit;
  text-decoration: none;
}

.cp-tag a:hover,
.cp-tag a:focus-visible {
  text-decoration: underline;
}

/* POP-UP */

.cp-popup {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  margin: 0;
  z-index: 900;
  display: none;
}

.cp-popup[open] {
  display: flex;
}

.cp-popup__overlay-close {
  font-size: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  z-index: 950;
}

.cp-popup__canvas {
  background: white;
  padding: 20px;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 400px;
  z-index: 980;
}
